﻿/*footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}*/

.error-messages {
    font-size: 10pt;
    color: red !important;
    display: block;
    text-align: left;
    font-weight: bold
}