﻿.logo {
  border-radius: 50%;
  object-fit: contain; }

.login-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; }

.form-signin {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: 0 auto; }

.form-signin .form-control {
  position: relative; }

.form-signin .form-control:focus {
  z-index: 2; }

/*footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}*/
.error-messages {
  font-size: 10pt;
  color: red !important;
  display: block;
  text-align: left;
  font-weight: bold; }
