﻿@model AwsInfrastructureDemo.Models.Todos.TodoListViewModel

@{
    ViewData["Title"] = "Home";
}

@using (Html.BeginForm("Index", "Home", new { }, FormMethod.Get, false, new { }))
{
    <div class="row">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="keyword" placeholder="Search by keyword..." aria-label="" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="accordionTodos">
        @foreach (var item in Model.Results)
        {
            <div class="card">
                <div class="card-header p-0" id="heading-@item.Id">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-@item.Id" aria-expanded="true" aria-controls="collapse-@item.Id">
                            @item.Name
                        </button>
                    </h2>
                </div>

                <div id="collapse-@item.Id" class="collapse" aria-labelledby="heading-@item.Id" data-parent="#accordionTodos">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        }

    </div>
}

