﻿@model AwsInfrastructureDemo.Models.Users.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}

<div class="row align-center">
    <div class="col-12">
        <div class="mx-auto card login-form" style="width: 450px">
            <div class="card-body">
                @using (Html.BeginForm("Login", "Auth", new { }, FormMethod.Post, true, new { @class = "form-signin" }))
                {
                    <img class="mb-4 mx-auto d-block logo" src="~/images/logo.png" alt="Logo" width="90" height="90">

                    <h3 class="mb-3 font-weight-normal text-center">Login</h3>

                    <div class="form-group">
                        <label for="email">Username:</label>
                        <input type="text" class="form-control" name="username" id="username">
                        <span class="error-messages" asp-validation-for="Username"></span>
                    </div>
                    <div class="form-group">
                        <label for="pswd">Password:</label>
                        <input type="password" class="form-control" name="password" id="password">
                        <span class="error-messages" asp-validation-for="Password"></span>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Login</button>
                    <p class="text-muted pt-5 text-center">Anh Quoc Tran © @DateTime.Today.Year</p>
                }
            </div>
        </div>
    </div>
</div>